[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
prompt             = no

[ req_distinguished_name ]
C  = US
ST = Illinois
L  = Chillicothe
O  = Landon William King
OU = IT
CN = king-ai-studio.me
emailAddress = landon.king@luxebuildmedia.com
